In [8]:
import pandas as pd
import os

In [4]:
df1_temp = pd.read_csv('https://raw.githubusercontent.com/ghazafm/SocialMediaSentiment/main/Datasets/labeled%20data/Anies%20Baswedan.csv',encoding= 'ISO-8859-1')
df_anis = pd.read_csv('https://raw.githubusercontent.com/ghazafm/SocialMediaSentiment/main/Datasets/original%20data/Anies%20Baswedan.csv',encoding= 'ISO-8859-1')
df2_temp = pd.read_csv('https://raw.githubusercontent.com/ghazafm/SocialMediaSentiment/main/Datasets/labeled%20data/Prabowo%20Subianto.csv',encoding= 'ISO-8859-1')
df_prabowo = pd.read_csv('https://raw.githubusercontent.com/ghazafm/SocialMediaSentiment/main/Datasets/original%20data/Prabowo%20Subianto.csv',encoding= 'ISO-8859-1')
df3_temp = pd.read_csv('https://raw.githubusercontent.com/ghazafm/SocialMediaSentiment/main/Datasets/labeled%20data/Ganjar%20Pranowo.csv',encoding= 'ISO-8859-1')
df_ganjar = pd.read_csv('https://raw.githubusercontent.com/ghazafm/SocialMediaSentiment/main/Datasets/original%20data/Ganjar%20Pranowo.csv',encoding= 'ISO-8859-1')

In [16]:
df_anis['User ID'].value_counts()

df_anis['User ID'].value_counts().to_csv(f'{os.getcwd()}/coba.csv')

In [17]:
df = pd.read_csv(f'{os.getcwd()}/coba.csv')

In [23]:
df.head(400)

          User ID  count
0    1.490000e+18   1944
1    1.600000e+18    797
2    1.610000e+18    331
3    1.560000e+18    230
4    1.620000e+18    213
..            ...    ...
395  1.695602e+09      2
396  9.500000e+17      2
397  4.362002e+08      2
398  2.991017e+09      1
399  1.005018e+08      1

[400 rows x 2 columns]

In [34]:
def clean_id(content):
    stemmed = str(content)
    if 'e' in stemmed:
        return None
    else:
        return stemmed

In [40]:
df['User ID'] = df['User ID'].apply(remove_id)

In [48]:
df.dropna(inplace=True)

In [49]:
df

           User ID  count
10     306615832.0    185
30      46693036.0     66
39     485856546.0     55
46    3158832157.0     40
50    2558197662.0     28
...            ...    ...
1067   135707457.0      1
1068  1196651028.0      1
1069   931263068.0      1
1070   222015986.0      1
1071   162059920.0      1

[837 rows x 2 columns]