In [1]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/ghazafm/SocialMediaSentiment/main/preprocessing/EDA/id_clean/ganjar.csv')
df.head(10)

,Unnamed: 0,Date,User ID,Tweet Count,Tweet Location,Tweet,label,Clean,city
0,1,2023-04-16,771030588.0,621,No Place to KADRUN,ojoo lali yooo yang cerdas pilih ganjar pranowo,Positive,politisi partai gerindra sandiaga uno menjawab...,No Place to KADRUN
1,2,2023-04-16,380755133.0,621,No Place to KADRUN,orang cerdas dukung den baguse ganjar pranowo,Positive,lanjut pak kita kawal sampai jadi,No Place to KADRUN
2,5,2023-04-16,634227637.0,103,NaN,alhamdulillah presiden indonesia hanya ganjar ...,Positive,kader pdip jadi yang mana menterinya impor pangan,NaN
3,6,2023-04-16,634227637.0,34,"Sulawesi Selatan, Indonesia",safari ramadhan dan doa bersama untuk bapak ga...,Positive,jika tidak ada deklarasi dari partai pendukung...,Sulawesi Selatan
4,7,2023-04-16,634227637.0,366,NaN,mak ganjar sumatera utara mengucapkan selamat ...,Positive,suara rakyat,NaN
5,8,2023-04-16,171458202.0,2197,NaN,adil bersikap itu hebat dan amanah ganjar jg s...,Positive,amien rais akan pilih subianto bila gagal jadi...,NaN
6,9,2023-04-16,634227637.0,273,NaN,beauty class yang di adakan srikandi ganjar dp...,Positive,siapa dulu gunernurnya,NaN
7,10,2023-04-16,634227637.0,46,"Nusa Tenggara Timur, Indonesia",hasil survei smrc yang dirilis barubaru ini me...,Positive,kpk bergerak keadilan bagi seluruh rakyat indo...,Nusa Tenggara Timur
8,11,2023-04-16,634227637.0,671,NaN,hasil survei terbaru indopol survey amp consul...,Positive,NaN,NaN
9,12,2023-04-16,634227637.0,792,NaN,hasil survei terbaru indopol survey amp consul...,Positive,bisa jadi gubernur karena ada partai yang mend...,NaN

In [2]:
df_neg = df[df['label']=='Negative']
df_negative = df[df['label']=='Negative']
df_negative = df_negative.groupby('User ID').size().nlargest(10).reset_index(name='Count')
df_negative = pd.DataFrame(df_negative)
df_negative = pd.merge(df_negative, df_neg, on='User ID')
df_negative.to_csv('ganjar_negative.csv')
df_negative['User ID'].value_counts()
df_negative_count = pd.DataFrame(df_negative['User ID'].value_counts())
df_negative_count

              count
User ID
3.066158e+08     38
4.669304e+07     17
4.858565e+08      9
7.563741e+08      8
2.558198e+09      7
2.718336e+09      7
6.918316e+07      5
1.091492e+08      5
3.841902e+08      5
1.812994e+07      4

In [3]:
df_pos = df[df['label']=='Positive']
df_positive = df[df['label']=='Positive']
df_positive = df_positive.groupby('User ID').size().nlargest(10).reset_index(name='Count')
df_positive = pd.DataFrame(df_positive)
df_positive = pd.merge(df_positive, df_pos, on='User ID')
df_positive.to_csv('ganjar_positive.csv')
df_positive_count = pd.DataFrame(df_positive['User ID'].value_counts())
df_positive_count

              count
User ID
3.066158e+08    143
4.669304e+07     49
4.858565e+08     46
3.158832e+09     39
2.558198e+09     21
6.918316e+07     20
6.342276e+08     20
7.563741e+08     17
5.671330e+08     16
4.280084e+08     14